[submodule "nirvana/orb"]
	path = nirvana/orb
	url = https://github.com/nirvanaos/orb.git
[submodule "nirvana/library"]
	path = nirvana/library
	url = https://github.com/nirvanaos/library.git
[submodule "googletest/googletest"]
	path = googletest/googletest
	url = https://github.com/google/googletest.git
[submodule "llvm-project"]
	path = llvm-project
	url = https://github.com/nirvanaos/llvm-project.git
	shallow = true
[submodule "nidl2cpp"]
	path = nidl2cpp
	url = https://github.com/nirvanaos/nidl2cpp
